:root{
    --color-scheme: #0d6efd;
}

body{
    background-color: #aaaaaa;
}

main{
    background-color: #ffffff;
}

.main-line{
    opacity: 100%;
    border: 2px solid var(--color-scheme);
}

@media(min-width: 576px){
    main{
        padding-top: 16px;
        padding-bottom: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
        border-radius: 5px;
    }
}

section{
    margin-bottom: 50px;
}

.section-content{
    height: 0px;
    overflow: hidden;
}

.section-switch{
    display: block;
    cursor: pointer;
}

.section-switch:hover{
    background-color: #e7e7e7;
}

.show-checkbox{
    display: none;
}

.show-checkbox:checked + .section-content{
    height: auto;
    padding: 8px;
}

.svg-graph{
    background-color: white;
    border: 2px solid lightgray;
}

footer{
    padding: 32px;
    text-align: center;
}

.h-auto{
    overflow: hidden;
    height: auto;
}

.div-50{
    width: 50%;
}

.div-R{
    float: right;
}

.div-L{
    float: left;
}

.form-box{
    padding: 8px;
}

@media(max-width: 768px){
    .svg-graph{
        width: 100%;
    }
}